<%= link_to 'Back', @task.project, class: 'btn btn-dark mb-2' %>

<div class='card'>
  <div class='card-header mb-2'>
    <h2 class='card-title'>
      <span>Editing Task</span>
    </h2>
  </div>

  <div class='card-body'>
    <%= render 'form' %>
  </div>
</div>
