<%= link_to 'Back', projects_path, class: 'btn btn-dark mb-3' %>

<div class='card'>
  <div class='card-header mb-2'>
    <h2 class='card-title'>
      <span>New Project</span>
    </h2>
  </div>

  <div class='card-body'>
    <%= render 'form', project: @project %>
  </div>
</div>

